.btnCadastro {
    background-color: #FE820F;
    font-family: 'Inika', 'serif';
    font-size: 1.1vw;
    border: 0;
    width: 10vw;
    height: 3vw;
    align-self:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btnCadastro:hover {
    background-color: #fe820fe3;
}

#formsPesquisa {

    padding: 2vw;
    display: flex;
    justify-content: center;
    border-bottom: 0.2vw solid #D9D9D9;
}

.inputBusca {
    border: 0;
    width:70vw;
    height: 4vw;
    border-radius: 0.3vw;
    background-color: #D9D9D9;
    font-family: 'Inika', 'serif';
    font-size: 1.3vw;
    padding:2vw;
}

.inputBusca:focus {
    outline: 0;
}

.btnBusca {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FE820F;
    border: 0;
    cursor: pointer;
    width: 4vw;
}

.btnBusca:hover {
    background-color: #fe820fe3;
}
