header {
    background-color: #EDEDED;
    border-bottom: 0.2vw solid #D9D9D9;
    display: flex;
    justify-content: space-between;
   height:5vw;
}

header .logo {
    display:flex;
    align-items: center;
}

header .imgLogo {
    width:7vw;
    height:auto;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    width:17vw;
    position: relative;
}

.perfilInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.perfil:hover {
    background-color: #d9d9d96c;
    
}

.perfil .fotoPerfil {
    width:3vw;
    height:3vw;
    border-radius: 100%;
    border: 0.1vw solid #D9D9D9;
    
}

.perfil .perfilOpcoes {
    position: absolute;
    top: 100%;
    background-color: #EDEDED;
    width: 100%;
    box-sizing: border-box;
    list-style-type: none; 
    display: none;
 
}

.perfilOpcoes .redirecionarPerfil {
    display: flex;
}

.perfil:hover .perfilOpcoes {
    display: block;
}



.perfilOpcoes a{
    text-decoration: none;
    color: #333333;
    display: flex; 
    align-items: center; 
    justify-content: space-around;
  
}

.perfilOpcoes a:hover {
    background-color: #d9d9d96c;
    color: #FE820F ;
}